/* General styles */
body {
  color: darkslategrey;
  text-align: right;
  margin: 70px auto;
  padding: 0 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background-container {
  background-image: url(images/Perfumista-de-Lisboa.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

.h1-container {
  position: fixed;
  right: 10px;
}

.h2-container {
  position: fixed;
  right: 10px;
}

h1 {
  color: white;
  background-color: black;
  border-radius: 30px;
  font-size: 110px;
  font-style: oblique;
  margin-bottom: 0;
  font-family: 'Tangerine', cursive;
  padding: 15px;
 
}

h2 {
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  margin-top: px;
  opacity: 0.6;
}

.scroll-content {
  margin-top: 300px;
}

.scroll-content.scroll-active {
  opacity: 0.1;
}

.social {
  position: fixed;
  top: 0px;
  right: 20px;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  display: inline;
}

ul li a {
  color: darkgreen;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
}

.name {
  font-family: 'Allura', cursive;
  font-size: 40px;
}

.social:hover {
  opacity: 0.7;
}

p {
  font-size: 35px;
  font-weight:bold;
}

span {
  color: darkgreen;
}

.fragrances {
  padding-top: 270px;
  padding-bottom: 30px;
}

.workshops {
  padding-bottom: 30px;
}

.scroll {
  padding-bottom: 30px;
}

.lisbon-container {
  background-color: midnightblue;
  border: 3px solid darkgreen;
  border-radius: 50px;
  margin-right: 20px;
  margin-left: 800px ;
  padding-left: 30px;
  padding-right: 20px;
  height: 100px;
}

.lisbon {
  font-size: 30px;
  color: white;
  height: fit-content;
  width: fit-content;
}

.personal {
  padding-top: 0%;
  margin-top: 0px;
  margin-bottom: 10px;
}

#fragrance-list {
  list-style-type: none; /* Remove list bullets */
  font-size: 70px;
  font-style: oblique;
  margin-top: 20;
  margin-bottom: 40;
  margin-right: 10;
  font-family: 'Tangerine', cursive;
  height: 300px;
  overflow-y: auto; /* Add vertical scroll if the content exceeds the container height */
  padding: 20;
}

#fragrance-form {
  display: right;
  direction: line;
  align-items: left;
}

#fragrance-input,
#email-input {
  padding: 20px;
  margin: 10px 10px;
  border: 3px solid darkgreen;
  text-align: center;
  border-radius: 50px;
  font-size: 16px;
  color: midnightblue;
}

#fragrance-input::placeholder,
#email-input::placeholder {
  color: darkblue;
}

button[type="submit"] {
  padding: 10px 20px;
  margin: 10px 10px;
  background-color: darkgreen;
  border: 3px solid darkgreen;
  border-radius: 50px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.button {
  color: white;
  text-decoration: none;
  background-color: midnightblue;
  padding: 15px;
  margin-right: 10px;
  border-radius: 150px;
}

.button:hover {
  opacity: 0.7;
}
/* Smaller screens */
@media (max-width: 960px) {
  .background-container {
    opacity: 0.3;
  }
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 30px;
  }

  ul li a {
    font-size: auto;
  }
  .lisbon-container {
    margin:auto;
  }

  .lisbon {
    font-size: auto;
  }
  #fragrance-list {
    font-size: 40px;
  }
  #fragrance-input,
  #email-input {
    font-size: auto;
  }
}